body {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", cursive;
  color: #3D3C42;
}

span{
  color: #7F5283;
}
h1 {
  font-family: "Sacramento", verdana, sans-serif;
  color: #3D3C42;
  margin-top: 0;
}

h2{
  font-family: "Poppins", cursive;
}

h3{
  font-family: "Poppins", cursive;
}

p {
  font-family: "Poppins", cursive;
  color: #3D3C42;
}

.contact-me{

    padding-bottom: 40px;
}


.top-container {
  background-color: #FEFBF6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #A6D1E6;
  display: block;
  overflow: hidden;
}

.bottom-container {
  background-color: #FEFBF6;

  display: block;
  overflow: hidden;
}

.skills-img{
max-width: 20%;
height: auto;
border-radius: 50%
}

#pp {
  max-width: 20%;
  height: auto;
  border-radius: 50%
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}


.btn {
  background: #A6D1E6;
  background-image: -webkit-linear-gradient(top, #A6D1E6, #76549A);
  background-image: -moz-linear-gradient(top, #A6D1E6, #76549A);
  background-image: -ms-linear-gradient(top, #A6D1E6, #76549A);
  background-image: -o-linear-gradient(top, #A6D1E6, #76549A);
  background-image: linear-gradient(to bottom, #A6D1E6, #76549A);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #76549A;
  background-image: -webkit-linear-gradient(top, #76549A, #A6D1E6);
  background-image: -moz-linear-gradient(top, #76549A, #A6D1E6);
  background-image: -ms-linear-gradient(top, #76549A, #A6D1E6);
  background-image: -o-linear-gradient(top, #76549A, #A6D1E6);
  background-image: linear-gradient(to bottom, #76549A, #A6D1E6);
  text-decoration: none;
}

